@model IEnumerable<LAB1.Models.Manga>

@{
    ViewData["Title"] = "Index";
}

<h1>Список манґ</h1>

<p>
    <a asp-action="Create">Додати нову манґу</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th></th> <!-- Колонка для зображення -->
            <th>@Html.DisplayNameFor(model => model.Title)</th>
            <th>@Html.DisplayNameFor(model => model.ReleaseYear)</th>
            <th>@Html.DisplayNameFor(model => model.Genres)</th>
            <th>Author</th> 
            <th>Illustrator</th>
            <th>@Html.DisplayNameFor(model => model.Volumes)</th>
            <th>@Html.DisplayNameFor(model => model.Chapters)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img src="@item.CoverUrl" alt="Cover" style="width: 50px; height: auto;" /> <!-- Маленьке зображення -->
                </td>
                <td>@Html.DisplayFor(modelItem => item.Title)</td>
                <td>@Html.DisplayFor(modelItem => item.ReleaseYear)</td>
                <td>@Html.DisplayFor(modelItem => item.Genres)</td>
                <td>@Html.DisplayFor(modelItem => item.Author.Name)</td>
                <td>@Html.DisplayFor(modelItem => item.Illustrator.Name)</td>
                <td>@Html.DisplayFor(modelItem => item.Volumes)</td>
                <td>@Html.DisplayFor(modelItem => item.Chapters)</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

