@model LAB1.Models.Manga

<div class="manga-details-container">
    <div class="manga-cover-container">
        <img src="@Model.CoverUrl" alt="@Model.Title" class="manga-cover" />
    </div>

    <div class="manga-info-container">
        <h1>@Model.Title</h1>
        <p><strong>Автор:</strong> @Model.Author</p>
        <p><strong>Рік випуску:</strong> @Model.ReleaseYear</p>
        <p><strong>Жанр:</strong> @Model.Genres</p>
        <p><strong>Рейтинг:</strong> @Model.Rating</p>
        <p><strong>Статус:</strong> @Model.Status</p>
    </div>

    <div class="manga-description">
        <h2>Опис</h2>
        <p>@Model.Description</p>
    </div>
    <h3>Коментарі:</h3>
    @foreach (var comment in Model.Comments)
    {
        <div>
            <p><strong>@comment.User</strong> (@comment.CreatedAt):</p>
            <p>@comment.Content</p>
        </div>
    }

    <form asp-action="AddComment" asp-controller="Mangas" method="post">
        <input type="hidden" name="mangaId" value="@Model.Id" />
        <textarea name="content" required></textarea>
        <button type="submit">Додати коментар</button>
    </form>

</div>
