@model LAB1.Models.Chapter
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Localization
@using LAB1.Resources
@inject IHtmlLocalizer<SharedResources> Localizer

<h2>@Localizer["Volume"] @Model.VolumeNumber, @Localizer["Chapter"] @Model.ChapterNumber</h2>

<div class="chapter-container">
    @foreach (var mangaPage in Model.Pages.OrderBy(p => p.PageNumber))
    {
        <div class="chapter-page" style="display: none;">
            <img src="@mangaPage.ImagePath" alt="Page @mangaPage.PageNumber" />
        </div>
    }
</div>

<div class="page-navigation">
    @if (Model.Pages.Any())
    {
        <p>@Localizer["Page"] @Model.CurrentPageNumber з @Model.Pages.Count сторінок</p>
    }
</div>

<script>
    let currentPage = 0;
    const pages = document.querySelectorAll('.chapter-page');

    const currentChapterId = @Model.Id;
    const mangaId = @Model.MangaId;
    const isLastPage = () => currentPage === pages.length - 1;
    const isFirstPage = () => currentPage === 0;

    function showPage(index) {
        pages.forEach((page, i) => {
            page.style.display = i === index ? 'block' : 'none';
        });
        document.querySelector('.page-navigation p').textContent = `@Localizer["Page"] ${index + 1} з ${pages.length} Localizer["Pages"]`;
    }

    function nextPage() {
        if (currentPage > 0) {
            currentPage--;
            showPage(currentPage);
        } else {
            window.location.href = `/Mangas/PreviousChapter?currentChapterId=${currentChapterId}&mangaId=${mangaId}`;
        }
    }

    function  previousPage() {
        if (currentPage < pages.length - 1) {
            currentPage++;
            showPage(currentPage);
        } else {
            window.location.href = `/Mangas/NextChapter?currentChapterId=${currentChapterId}&mangaId=${mangaId}`;
        }
    }

    showPage(currentPage);

    document.querySelectorAll('.chapter-page img').forEach((img) => {
        img.addEventListener('click', (event) => {
            const clickX = event.clientX;
            const imgWidth = img.clientWidth;

            if (clickX > imgWidth / 2) {
                nextPage();
            } else {
                previousPage();
            }
        });
    });
</script>
