@model UserProfileViewModel
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Localization
@using LAB1.Resources
@inject IHtmlLocalizer<SharedResources> Localizer

<h2>@Localizer["PersonalPage"]</h2>

<div>
    <h3>@Localizer["UserName"]: @Model.UserName</h3>
    <p>@Localizer["Email"]: @Model.Email</p>
</div>

<h3>Улюблені команди:</h3>
@if (Model.FavoriteTeams.Any())
{
    <ul>
        @foreach (var team in Model.FavoriteTeams)
        {
            <li>@team.Name</li>
        }
    </ul>
}
else
{
    <p>Немає обраних команд.</p>
}

<a asp-action="AddFavoriteTeam">@Localizer["AddFavoriteTeam"]</a>

